// Place all the styles related to the boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.empty-state {
	text-align: center;
	& span {
		font-size: 4em;
		color: #0074D9;
	}
	& h5 {
		margin-top: 5px;
		font-size: 1.3em;
		font-weight: 300;
	}
}

table {
	width: 100%;
	& thead {
		font-size: 0.8em;
		letter-spacing: 1px;
		& th {
			padding-bottom: 5px;
			border-bottom: 1px solid #e5e5e5;
		}
		& tr:first-child {
			text-align: left;
		}
		& th:nth-child(2) {
			text-align: center;
		}
		& th:last-child {
			text-align: right;
		}
	}
	& tbody {
		& tr {
			& td:first-child {
				text-align: left;
			}
			& td:nth-child(2) {
				text-align: center;
				& a {
					color: #02C8A7;
					display: inline-block;
					margin-left: 5px;
				}
			}
			& td:last-child {
				text-align: right;
			}
			& td {
				padding: 10px;
			}
		}
	}
}